<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue 연습하기</title>
</head>

<body>
    <div id="app">
        {{message}}
    </div>

    <br><br><br><br><br><br>

    <div id="app2">
        <span v-bind:title="message">
            동적으로 바인딩 된 title을 보기
        </span>
    </div>

    <div id="app3">
        <p v-if="seen">
            나만 바라 봐
        </p>
    </div>

    <div class="app">
        <ol>
            <li v-for="todo in todos">
                {{todo.text}}
            </li>
        </ol>
    </div>

    <div class="app1">
        <p>{{message}}</p>
        <button v-on:click="reverseMessage">글자가 뒤집힐껄요?</button>
    </div>

    <div class="app2">
        <div>{{message}}</div>
        <input type="text" v-model="message">
    </div>

    <div class="app4">
        <ol>
            <todo-item></todo-item>
        </ol>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="script/main.js"></script>
</body>
</html>