<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>끝말잇기</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div class="root">
        <!-- <div>끝말잇기를 시작해 봅시다</div>
        <div>단어 : {{word}}</div>
        <form action="" v-on:submit="onSubmitForm">
            <input type="text" v-model="value" ref="answer">
            <button>입니다.</button>
        </form>
        <div>{{result}}</div> -->
        <word-relay start-word="기기기"></word-relay>
        <word-relay start-word="기기귀"></word-relay>
        <word-relay start-word="기기가"></word-relay>
    </div>


    <script>
        Vue.component('word-relay', {
            template: `
                <div>
                    <div>끝말잇기</div>
                    <div>단어 : {{word}}</div>
                    <form action="" v-on:submit="onSubmitForm">
                        <input type="text" v-model="value" ref="answer">
                        <button>입니다.</button>
                    </form>
                    <div>{{result}}</div>
                </div>
            `,
            props: ['startWord'],
            data() {
                return {
                    word: this.startWord,
                    value: '',
                    result: ''
                }
            },
            methods: {
                onSubmitForm(event) {
                    event.preventDefault(); // preventDefault = Form 태그 안의 a태그나 submit을 눌렀을때 새로고침을 방지해주는 함수
                    if (this.word[this.word.length - 1] === this.value[0]) {
                        this.result = "정답입니다 똑똑하시네요";
                        this.word = this.value;
                    } else {
                        this.result = "한국인이 아니군요";
                    };
                    this.value = '';
                    this.$refs.answer.focus();
                }
            }
        })

        const app = new Vue({
            el: '.root',
        });
    </script>
</body>

</html>